// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.serviceImg {
  width: 125px;
  height: 125px;
  border: 7px solid $white;
  margin: 5px;
}

.key-word { 
  font-weight: bold;
  color:#F80286;
}
