// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.serviceImg {
  width: 300px;
  height: 300px;
  border: 7px solid $white;
  margin: 5px;
}

.key-word { 
  font-weight: bold;
  color:#F80286;
}

.service-col {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    min-width: 300px;
}

.service-img-stack {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  vertical-align: middle;
}